In [1]:
import requests
import pandas as pd
import re

r = requests.get(f"https://swapi.dev/api/people/")

/Users/sqallihadi/.pyenv/versions/simplon/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [43]:
for item in r.json().get('results'):
    print(item['name'])

Luke Skywalker
C-3PO
R2-D2
Darth Vader
Leia Organa
Owen Lars
Beru Whitesun lars
R5-D4
Biggs Darklighter
Obi-Wan Kenobi

In [20]:
list(r.json().get('results')[0].keys())

['name',
 'height',
 'mass',
 'hair_color',
 'skin_color',
 'eye_color',
 'birth_year',
 'gender',
 'homeworld',
 'films',
 'species',
 'vehicles',
 'starships',
 'created',
 'edited',
 'url']

In [92]:
def update_list_infos(df):

    def req_sw(url_list):
        if url_list == []:
            return url_list
        try:
            requested_info = []
            for url in url_list:
                if 'films' in url.split('/'):
                    requested_info.append(requests.get(url).json()['title'])
                else:
                    requested_info.append(requests.get(url).json()['name'])
            print(requested_info)
            return requested_info
        except:
            return ", ".join(url_list)

    return df.iloc[:,0].apply(lambda x: req_sw(x) if type(x)==list else x)

In [ ]:
requests.get("https://swapi.dev/api/films/1/".json()['title'])

In [55]:
name_selection = 'Luke Skywalker'

name_info = requests.get(f"https://swapi.dev/api/people/?search={name_selection}")

name_info_res = name_info.json().get('results')[0]

data1 = pd.DataFrame(data=name_info_res.values(),index=name_info_res.keys()).rename({0:f"{name_selection}"},axis='columns')
data1

                                               Luke Skywalker
name                                           Luke Skywalker
height                                                    172
mass                                                       77
hair_color                                              blond
skin_color                                               fair
eye_color                                                blue
birth_year                                              19BBY
gender                                                   male
homeworld                    https://swapi.dev/api/planets/1/
films       [https://swapi.dev/api/films/1/, https://swapi...
species                                                    []
vehicles    [https://swapi.dev/api/vehicles/14/, https://s...
starships   [https://swapi.dev/api/starships/12/, https://...
created                           2014-12-09T13:50:51.644000Z
edited                            2014-12-20T21:17:56.891000Z
url                           https://swapi.dev/api/people/1/

In [136]:
import re
text_test = ['49','Leia','female','https://swapi.dev/api/planets/2/','https://swapi.dev/api/films/1/']
for t in text_test:
    if re.search(r"https",t):
        print(t)

https://swapi.dev/api/planets/2/
https://swapi.dev/api/films/1/

In [155]:
def req_sw_list(url_list):
    
    if url_list == []:
        return url_list
    try:
        requested_info = []
        for url in url_list:
            if re.search('\/films\/',url):
                requested_info.append(requests.get(url).json()['title'])
            else:
                requested_info.append(requests.get(url).json()['name'])
        print(requested_info)
        return requested_info
    except:
        return url_list

def req_sw_url(url):
        
        if re.search('https',url) and re.search('\/films\/',url):
            print('url film matched')
            return requests.get(url).json()['title']
        elif re.search('https',url):
            print('url non-film matched')
            return requests.get(url).json()['name']
        else:
            return url
        
def update_url_infos_regex(df):

    return df.iloc[:,0].apply(lambda x: ", ".join(req_sw_list(x)) if type(x)==list else req_sw_url(str(x)))

## Cat√©gorie film

In [139]:
name_selection = 'A New Hope'

name_info = requests.get(f"https://swapi.dev/api/films/?search={name_selection}")

name_info_res = name_info.json().get('results')[0]
data_film = pd.DataFrame(data=name_info_res.values(),
                         index=name_info_res.keys()).rename({0:f"{name_selection}"},axis='columns')


data_film

                                                      A New Hope
title                                                 A New Hope
episode_id                                                     4
opening_crawl  It is a period of civil war.\r\nRebel spaceshi...
director                                            George Lucas
producer                               Gary Kurtz, Rick McCallum
release_date                                          1977-05-25
characters     [https://swapi.dev/api/people/1/, https://swap...
planets        [https://swapi.dev/api/planets/1/, https://swa...
starships      [https://swapi.dev/api/starships/2/, https://s...
vehicles       [https://swapi.dev/api/vehicles/4/, https://sw...
species        [https://swapi.dev/api/species/1/, https://swa...
created                              2014-12-10T14:23:31.880000Z
edited                               2014-12-20T19:49:45.256000Z
url                               https://swapi.dev/api/films/1/

In [156]:
data_film_updated = pd.DataFrame(update_url_infos_regex(data_film))
data_film_updated

['Luke Skywalker', 'C-3PO', 'R2-D2', 'Darth Vader', 'Leia Organa', 'Owen Lars', 'Beru Whitesun lars', 'R5-D4', 'Biggs Darklighter', 'Obi-Wan Kenobi', 'Wilhuff Tarkin', 'Chewbacca', 'Han Solo', 'Greedo', 'Jabba Desilijic Tiure', 'Wedge Antilles', 'Jek Tono Porkins', 'Raymus Antilles']
['Tatooine', 'Alderaan', 'Yavin IV']
['CR90 corvette', 'Star Destroyer', 'Sentinel-class landing craft', 'Death Star', 'Millennium Falcon', 'Y-wing', 'X-wing', 'TIE Advanced x1']
['Sand Crawler', 'T-16 skyhopper', 'X-34 landspeeder', 'TIE/LN starfighter']
['Human', 'Droid', 'Wookie', 'Rodian', 'Hutt']
url film matched

                                                      A New Hope
title                                                 A New Hope
episode_id                                                     4
opening_crawl  It is a period of civil war.\r\nRebel spaceshi...
director                                            George Lucas
producer                               Gary Kurtz, Rick McCallum
release_date                                          1977-05-25
characters     Luke Skywalker, C-3PO, R2-D2, Darth Vader, Lei...
planets                             Tatooine, Alderaan, Yavin IV
starships      CR90 corvette, Star Destroyer, Sentinel-class ...
vehicles       Sand Crawler, T-16 skyhopper, X-34 landspeeder...
species                       Human, Droid, Wookie, Rodian, Hutt
created                              2014-12-10T14:23:31.880000Z
edited                               2014-12-20T19:49:45.256000Z
url                                                   A New Hope

In [154]:
data_film_updated.iloc[:,0].apply(lambda x: type(x))

title            <class 'str'>
episode_id       <class 'int'>
opening_crawl    <class 'str'>
director         <class 'str'>
producer         <class 'str'>
release_date     <class 'str'>
characters       <class 'str'>
planets          <class 'str'>
starships        <class 'str'>
vehicles         <class 'str'>
species          <class 'str'>
created          <class 'str'>
edited           <class 'str'>
url              <class 'str'>
Name: A New Hope, dtype: object

In [65]:
data1["Luke Skywalker"].apply(lambda x: 'toto' if type(x)==list else type(x))

name          <class 'str'>
height        <class 'str'>
mass          <class 'str'>
hair_color    <class 'str'>
skin_color    <class 'str'>
eye_color     <class 'str'>
birth_year    <class 'str'>
gender        <class 'str'>
homeworld     <class 'str'>
films                  toto
species                toto
vehicles               toto
starships              toto
created       <class 'str'>
edited        <class 'str'>
url           <class 'str'>
Name: Luke Skywalker, dtype: object

In [54]:
import re

l = ['https://swapi.dev/api/films/1/',
     'https://swapi.dev/api/films/2/', 
     'https://swapi.dev/api/films/3/',
     'https://swapi.dev/api/films/6/']

l[0].split('/')

['https:', '', 'swapi.dev', 'api', 'films', '1', '']

In [102]:
data1

                                               Luke Skywalker
name                                           Luke Skywalker
height                                                    172
mass                                                       77
hair_color                                              blond
skin_color                                               fair
eye_color                                                blue
birth_year                                              19BBY
gender                                                   male
homeworld                    https://swapi.dev/api/planets/1/
films       [https://swapi.dev/api/films/1/, https://swapi...
species                                                    []
vehicles    [https://swapi.dev/api/vehicles/14/, https://s...
starships   [https://swapi.dev/api/starships/12/, https://...
created                           2014-12-09T13:50:51.644000Z
edited                            2014-12-20T21:17:56.891000Z
url                           https://swapi.dev/api/people/1/

In [26]:
p1 = pd.DataFrame(data=r.json().get('results')[0].values(),index=r.json().get('results')[0].keys()).T
p2 = pd.DataFrame(data=r.json().get('results')[1].values(),index=r.json().get('results')[1].keys()).T

df = pd.concat([p1,p2])
df

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],"[https://swapi.dev/api/vehicles/14/, https://s...","[https://swapi.dev/api/starships/12/, https://...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
0,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/

In [7]:
pd.DataFrame(data=r.json().get('results')[0])

ValueError: All arrays must be of the same length